h1{
    color: darkred;

    /* */
}

h2{
    margin: 0px;
    text-align: center;
}

#trem{
    width: 800px;
    border: solid black 1px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 10px 10px 5px;
}

#trem img{
    width: 300px;

    margin-left: 250px;
}

#mixto{
    width: 800px;
    border: solid black 1px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 10px 10px 5px;
}

#mixto img{
    width: 500px;
    margin-left: 145px;
}

#juazeirense{
    width: 800px;
    border: solid black 1px;
    padding: 20px;
    box-shadow: 10px 10px 5px;
}

#juazeirense img{
    width: 300px;
    margin-left: 250px;
}

p{
    text-align: left;
}
